---
Checks:          '-*
  ,clang-diagnostic-*
  ,clang-analyzer-*
  ,-clang-analyzer-optin.mpi
  ,-clang-analyzer-optin.osx
  ,-clang-analyzer-osx
  ,-clang-analyzer-webkit
  ,-clang-analyzer-security.insecureAPI.bcmp
  ,-clang-analyzer-security.insecureAPI.bcopy
  ,-clang-analyzer-security.insecureAPI.bzero
  ,-clang-analyzer-security.insecureAPI.decodeValueOfObjCType
  ,performance-*
  ,portability-std-allocator-const
  ,bugprone-*
  ,-bugprone-argument-comment
  ,-bugprone-throwing-static-initialization
  ,modernize-use-auto
  ,modernize-avoid-c-style-cast
  ,modernize-concat-nested-namespaces
  ,modernize-deprecated-headers
  ,modernize-deprecated-ios-base-aliases
  ,modernize-loop-convert
  ,modernize-macro-to-enum
  ,modernize-make-*
  ,modernize-min-max-use-initializer-list
  ,modernize-pass-by-value
  ,modernize-raw-string-literal
  ,modernize-redundant-void-arg
  ,modernize-unary-static-assert
  ,modernize-use-bool-literals
  ,modernize-use-constraints
  ,modernize-use-designated-initializers
  ,modernize-use-emplace
  ,modernize-use-equals-default
  ,modernize-use-equals-delete
  ,modernize-use-integer-sign-comparison
  ,modernize-use-nodiscard
  ,modernize-use-noexcept
  ,modernize-use-override
  ,modernize-use-ranges
  ,modernize-use-starts-ends-with
  ,modernize-use-std-numbers
  ,modernize-use-transparent-functors
  ,modernize-use-using
  ,readability-redundant-parentheses
  ,readability-qualified-auto
  ,readability-make-member-function-const
  ,readability-inconsistent-declaration-parameter-name
  ,readability-implicit-bool-conversion
  ,readability-delete-null-pointer
  ,readability-convert-member-functions-to-static
  ,readability-container-size-empty
  ,readability-container-contains
  ,readability-const-return-type'
CheckOptions:
  - key: 'readability-implicit-bool-conversion.AllowIntegerConditions'
    value: 'true'
  - key: 'readability-implicit-bool-conversion.AllowPointerConditions'
    value: 'true'
...

